[submodule "LivePopularTimes"]
	path = LivePopularTimes
	url = https://github.com/JoelMorel/LivePopularTimes
[submodule "populartimes"]
	path = populartimes
	url = https://github.com/JoelMorel/populartimes
