[submodule "lib/populartimes"]
	path = lib/populartimes
	url = https://github.com/m-wrzr/populartimes
[submodule "lib/GrocerPopularTimes"]
	path = lib/GrocerPopularTimes
	url = git://github.com/GrocerCheck/LivePopularTimes.git
