autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
geographiclib==1.50
geopy==2.0.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector==2.2.9
populartimes @ git+https://github.com/m-wrzr/populartimes@e9e9ac48ea86449eeea143af24e590e71b0ecce9
pycodestyle==2.6.0
requests==2.24.0
SQLAlchemy==1.3.18
toml==0.10.1
urllib3==1.25.10
Werkzeug==1.0.1
